// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "bootstrap";
// @import "bootstrap-datetimepicker";


@import 'effects.css.scss';

$form_color: #CBCCCD;

$hover_diff: #505050;

body {
  padding: 0 30px 0 30px; }

// quadrant colors
$i1_u0_color : #FFE6A3;
$i1_u1_color : #A50C0F;
$i0_u0_color : #E4481F;
$i0_u1_color : #F89C47;
  
 #i1_u1_color {
  background-color: $i1_u1_color;
 }

 #i1_u0_color {
  background-color: $i1_u0_color;
 }

 #i0_u0_color {
  background-color: $i0_u0_color;
 }

 #i0_u1_color {
  background-color: $i0_u1_color;
 }

// size of quadrant chooser squares
$quadrant_chooser_square_length: 20px;
    
.quadrant_chooser {
  position: relative;
  height: $quadrant_chooser_square_length * 2;
  width: $quadrant_chooser_square_length * 2;
  div {
    position: absolute;
    height: $quadrant_chooser_square_length;
    width: $quadrant_chooser_square_length;
    &.selected {
      @include glow; } }
  .i1_u0 {
    background-color: $i1_u0_color;
    &:hover {
      background-color: $i1_u0_color - $hover_diff;}
    top: 0;
    right: 0; }
  .i1_u1 {
    background-color: $i1_u1_color;
    &:hover {
      background-color: $i1_u1_color - $hover_diff;}
    top: 0;
    left: 0; }
  .i0_u0 {
  	background-color: $i0_u0_color;
    &:hover {
      background-color: $i0_u0_color - $hover_diff;}
    bottom: 0;
    right: 0; }  
  .i0_u1  {
  	background-color: $i0_u1_color;
    &:hover {
      background-color: $i0_u1_color - $hover_diff;}
    bottom: 0;
    left: 0; }}



// est time chooser colors
$less_10 : darkgreen;
$less_30 : green;
$less_60 : yellow;
$less_180 : red;
$less_300 : darkred;
  
 #less_10 {
  background-color: $less_10;
 }

 #less_30 {
  background-color: $less_30;
 }

 #less_60 {
  background-color: $less_60;
 }

 #less_180 {
  background-color: $less_180;
 }

 #less_300 {
  background-color: $less_300;
 }

// size of est time chooser squares
$time_chooser_square_length: 15px;

.time_chooser {
  position: relative;
  height: $time_chooser_square_length;
  width: $time_chooser_square_length * 5;
  div {
    position: absolute;
    height: $time_chooser_square_length;
    width: $time_chooser_square_length;
    &.selected {
      @include glow; } }
  .less_10 {
    background-color: $less_30;
    &:hover {
      background-color: $less_30 - $hover_diff;}
    left: 0; }
  .less_30 {
    background-color: $less_10;
    &:hover {
      background-color: $less_10 - $hover_diff;}
    left: $time_chooser_square_length; }
  .less_60 {
    background-color: $less_60;
    &:hover {
      background-color: $less_60 - $hover_diff;}
    left: $time_chooser_square_length * 2; }  
  .less_180  {
    background-color: $less_180;
    &:hover {
      background-color: $less_180 - $hover_diff;}
    left: $time_chooser_square_length * 3;
  }
  .less_300 {
    background-color: $less_300;
    &:hover {
      background-color: $less_300 - $hover_diff;}
    left: $time_chooser_square_length * 4;
  }
}
















.task {
  position relative {}
  font-size: 1.2em;
  background-color: $form_color; 
  border: 1px solid rgb(150, 150, 150);
  color: rgb(85, 85, 85);
  margin: 5px 5px 5px 5px;
  padding: 5px;
  .actions {
    display: none; 
  }
  .star {
    display: inline-block;
    background: url(/images/star.png) no-repeat 0 0;
    width: 10px;
    height: 10px;
  }
  .actions {
    position: absolute;
    background-color: $form_color;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: -2px 0px 2px #888888;
    -moz-box-shadow: -2px 0px 2px #888888;
  }
}

#very-low
  {
  background-color: darkgreen;
  color: wheat;
  a {
    color: orange;
  }
}

#low {
  background-color: green;
  color: wheat;
  a {
    color: orange;
  }
}

#medium {
  background-color: yellow;
}

#high {
  background-color: red;
  color: black;
  a {
    color: orange;
  }
}

#very-high {
  background-color: darkred;
}